.InputName {
    min-height: 50px;
    width: 300px;
}




.buttonDelete {
    text-align: center;

}



.Login {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: 0px 32px;
}



.namefile {
    font-size: 10px;
}

.namefolder {
    font-size: 10px;

}

.namePL {
    font-size: 10px;
    margin-top: -80px;
}

.namePR {
    font-size: 10px;
    margin-top: -60px;
}


.formfileorfolder {
    margin-left: 70%px;
}


.inputfile {
    font-size: 20px;

    height: 15px;

    margin-left: -320px;

}

.inputfolder {
    font-size: 20px;
    margin-left: -334px;

    height: 15px;
}

.inputPL {
    font-size: 20px;

    height: 15px;

    margin-left: -150px;
    margin-top: -80px;

}

.inputPR {
    font-size: 20px;

    height: 15px;

    margin-left: -150px;
    margin-top: -60px;

}

.button_add {
    margin-left: 20px;
    height: 60px;
    margin-top: 20px;
}

.frameinputfilePL1 {
    display: flex;

    width: 70px;
    margin-left: 230px;
}



.inputfilePL1 {
    height: 15px;
    margin-top: 3px;

}


.inputfolderPL2 {
    height: 15px;
    margin-top: 3px;
}